/* set paths to location of modules */
# mpath="/usr/local/lib/kamailio/modules/"

# when using TLS with OpenSSL it is recommended to load this module
# first so that OpenSSL is initialized correctly
#!ifdef WITH_TLS
loadmodule "tls.so"
#!endif

# --- base ---
loadmodule "jsonrpcs.so"
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
loadmodule "cfg_rpc.so"
loadmodule "counters.so"

# --- edge additions ---
loadmodule "xhttp.so"
loadmodule "websocket.so"
loadmodule "http_client.so"
loadmodule "jansson.so"
loadmodule "htable.so"
loadmodule "path.so"
loadmodule "uac.so"
loadmodule "nathelper.so"

#!ifdef WITH_ANTIFLOOD
loadmodule "pike.so"
#!endif

#!ifdef WITH_DEBUG
loadmodule "debugger.so"
#!endif

# ----------------- setting module-specific parameters ---------------


# ----- jsonrpcs params -----
modparam("jsonrpcs", "pretty_format", 1)
/* set the path to RPC fifo control file */
# modparam("jsonrpcs", "fifo_name", "/run/kamailio/kamailio_rpc.fifo")
/* set the path to RPC unix socket control file */
# modparam("jsonrpcs", "dgram_socket", "/run/kamailio/kamailio_rpc.sock")

# ----- ctl params -----
/* set the path to RPC unix socket control file */
# modparam("ctl", "binrpc", "unix:/run/kamailio/kamailio_ctl")

# ----- sanity params -----
modparam("sanity", "autodrop", 0)

# ----- tm params -----
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)

#!ifdef WITH_DEBUG
# ----- debugger params -----
modparam("debugger", "cfgtrace", 1)
modparam("debugger", "log_level_name", "exec")
#!endif

#!ifdef WITH_ANTIFLOOD
# ----- pike params -----
modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 16)
modparam("pike", "remove_latency", 4)
#!endif

# ---- htable caches (in-RAM, no DB) ----
# iapcache: key = E.164 number, value = raw IAP JSON. TTL 300s. Negative entries use a short TTL set in route logic.
modparam("htable", "htable", "iapcache=>size=12;autoexpire=300;")
# usercache: key = SIP username, value = pbx_fqdn. TTL 600s.
modparam("htable", "htable", "usercache=>size=12;autoexpire=600;")

# ---- websocket ----
modparam("websocket", "keepalive_mechanism", 1)   # send PINGs
modparam("websocket", "keepalive_timeout", 30)

# ---- nathelper (signalling aliasing for WS only; NO media) ----
modparam("nathelper", "received_avp", "$avp(RECEIVED)")

# ---- rr ----
modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 0)

# ---- tm timers (tuned; short FR so a dead branch frees fast) ----
modparam("tm", "fr_timer", 5000)
modparam("tm", "fr_inv_timer", 30000)

# ---- http_client (caps how long a synchronous IAP lookup can block a worker) ----
modparam("http_client", "connection_timeout", 1)   # seconds
